<!DOCTYPE html>
<html lang="en"  ng-app="wikiApp">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia Viewer</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-animate.min.js"></script>
    <script src="wikiApp.js" type="text/javascript"></script>
</head>
<body ng-controller="wikiController as wc">

    <div class="container" >

        <!--form that will accept a search term for the wiki call to the server-->
        <input type="text" ng-model="wc.searchTerm">
        <input type="submit" ng-click="wc.searchWiki();">


        <!--bootstrap panel to store header info and a description-->
        <div class="list-group" ng-repeat="wiki in wc.wikiArray">
            <a href="http://en.wikipedia.org/?curid={{ wiki.page_id }}" target="_blank" class="list-group-item ">
                <h3 class="list-group-item-heading">{{ wiki.title }}</h3>
                <p class="list-group-item-text">{{ wiki.extract }}</p>
            </a>
        </div>

    </div>

</body>
</html>