
body {
    background: url('images/escheresque_ste.png') repeat fixed;
}

body > div:first-child {
    margin: 1em 0 .5em;
}

body > div:first-child h1 {
    color: gainsboro;
    font-size: 10vmin
}

.list-group {
    box-sizing: border-box;
    border-radius: 0;
}

.list-group-item:hover {
    border-left: 6px solid aqua;
}



.list-group.ng-enter {
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
    margin-top: 100%;
}

.list-group.ng-enter-active {
    margin-top: 0;
    opacity: 1;
}

.list-group.ng-leave {
    -webkit-transition: 1.5s ease-out all;
    transition: 1.5s ease-out all;
}

.list-group.ng-leave-active {
    opacity: 0;
}